body{
	color: #2E2E2E;
	font-family: sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.wrapper.main{
	margin: 0 auto;
	width: 1000px;
}
header.main{
	background:url('/ecos/img/ban.jpg');
	height: 118px;
	padding: 1px;
	width: 100%;
}
header.main h1{
	display: none;
}
section.main{
	width: 100%;
}
footer.main{
	width: 100%;
}
#matriz{
	border: solid 3px rgba(0, 169, 85, 0.9);
	height: 400px;
	width: 400px;
} 
#matriz td{
	border: solid 2px  rgba(0, 169, 85, 0.9);
	color: #088A29;	
	font-size: .8em;
	height: 66px;
	padding: 5px;
	width: 66px;
}
#matriz a{
	color: #088A29;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.listacategorias{
	background: rgba(0, 169, 85, 0.9);
	border:  solid 3px  rgba(0, 169, 85, 0.9);
	font-size: .85em;
	height: 400px;
	margin: 0;
	padding: 0;
	width: 336px;
}
.listacategorias li{
	border-radius:3px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
	color: #088A29;
	display: block;
	float: left;
	margin: 2px;
	padding: 1px .5em 0 .5em;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	width: 148px;
}
.listatags {
	background: rgba(0, 169, 85, 0.9);
	height:405px;
	margin: 0;
	padding: 1px 0 0 0;
	width: 258px;
}
.listatags li {
	border-radius:3px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
	color: #088A29;
	display: block;
	font-size: .95em;
	margin: 8px;
	padding: 6px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

/*Arreglos Post*/
header.post h2{
	margin: 20px 60px;
}
header.post p{
	display: block;	
	float: right;
	margin: 25px 60px;
}
header.post a{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
section.post{
	clear: both;
	margin: 0;
	padding: 0 0 10px 10px;
	width: 72%;
}
h3.post.tags{
	margin: 0;
	display: block;
	width: 180px;
	float: right;
}
ul.post{
	background: #fff;
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 27%;
}
ul.post li{
	background: #31B404;
	border-radius: .5em;
	display: inline-block;
	font-size: .8em;
	font-weight: bold;
	margin: 10px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
ul.post a{
	color: #fff;
	display: inline-block;
	padding: 4px 10px;
	text-decoration: none;
}

footer.post{
	margin: 0;
	padding: 0;
}
footer.post dl{
	width: 80%;
	margin: 55px 0 0 0;
}
footer.post dt{
	color: #fff;
	display: block;
	font-weight: bold;
	margin: 20px 20px;
	padding: 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
footer.post dd{
	border-right: dotted 2px #6E6E6E;
	color: #6E6E6E;
	display: inline-block;
	float: left;
	font-size: .8em;
	margin: 20px 0 0 0;
	padding:  3px 25px 0 0;
}
footer.post dd:last-child{
	border: none;
}
/*Arreglos Posts*/
header.postslist h3{
	padding: 23px;
}
table.postslist{
	margin: 0 auto;
	padding: 0;
	width: 90%;
}
table.postslist tr{
	display: block;
	margin: 0;
}
table.postslist tr:nth-child(odd){
	background: #FAFAFA;
}
table.postslist h3{
	margin: 0 0 0 2em;
}
table.postslist img{
	float: left;
	height: 60px;
	margin: 0;
	padding: 0;
	width: 60px;
}
#contenido{
	display: block;
	padding: 1em;
	width: 85%;
}
#contenido p{
	display: inline-block;
	margin: 0 0 0 2em;
	padding: 0;
	color: #2E2E2E;
}
#contenido a{
	color:#088A29;
	text-decoration: none;
}
#categoria {
	color: #088A29;
	float: right;
	font-size: .7em;
	font-weight: bold;
	margin: 5px 30px 0 0;
	padding: 0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
#categoria dd{
	font-weight: normal;
	color: #2E2E2E;
}
/* Arreglos Comentarios*/
header.comentarios h2{
	padding: 20px 60px;
 }
 section.comentarios {
 	width: 70%;
 	margin: 0 auto;
 	
 }
 article.comentarios {
 	margin: 1.5em 0 0 0;
 	box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
 }
 article.comentarios .p{
 	margin: 0 10em 0 0;
 	color: #848484;
 }

/* Arreglos Add Comentario*/
header.add_comentario h2{
padding: 20px 60px;
}
section.add_comentario{
	margin: 50px auto;
	width: 70%;
	color: #088A29;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#ComentarioAddComentarioForm {
	min-height: 250px;
	margin: 25px;
}
#ComentarioAddComentarioForm {
}
section.add_comentario .input{
	margin: 20px;

}
section.add_comentario .submit{
	clear: both;
	width: 60px;
	margin: 1em 29px 0 0;
	float: right;
	
}
section.add_comentario .submit input{
	background:  #088A29;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7),-1px -1px 1px rgba(0, 0, 0, 0.7);
	border-radius: .5em;
	border: none;
	display: block;
	font-weight: bold;
	padding: .2em .5em;
}
#ComentarioEmail{
	float: right;
	width: 60%;
}
#ComentarioComentario{
	width: 60%;
	float: right;
}
/* Arreglos Varios */

.float-left{
	float: left;
}
h1, h2, h3, h4{
	color: #088A29;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.clear:after {
	clear: both; 
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.busqueda .input.text {
	float: left;
	width: 500px;
}
.busqueda .input label{
	color:  #088A29;
	display: block;
	float: left;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	width: 130px;
}
.busqueda .input.text input{
	width: 350px;
}
.busqueda .submit input{
	border: 0;
	box-shadow: 1px 1px 0 rgba(0,0,0,.25);
	color: #088A29;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.gradiente{
	background: #effcf3; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #effcf3 0%, #e8fff0 50%, #d8ffe2 100%); /* FF3.6+ */
	background: -ms-linear-gradient(-45deg, #effcf3 0%,#e8fff0 50%,#d8ffe2 100%); /* IE10+ */
	background: -o-linear-gradient(-45deg, #effcf3 0%,#e8fff0 50%,#d8ffe2 100%); /* Opera 11.10+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#effcf3), color-stop(50%,#e8fff0), color-stop(100%,#d8ffe2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #effcf3 0%,#e8fff0 50%,#d8ffe2 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(135deg, #effcf3 0%,#e8fff0 50%,#d8ffe2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#effcf3', endColorstr='#d8ffe2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.gradiente:hover{
	background: #effcf3; 
	background: -moz-linear-gradient(-45deg, #effcf3 0%, #d8ffe5 50%, #c6ffd4 100%); 
	background: -ms-linear-gradient(-45deg, #effcf3 0%,#d8ffe5 50%,#c6ffd4 100%); 
	background: -o-linear-gradient(-45deg, #effcf3 0%,#d8ffe5 50%,#c6ffd4 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#effcf3), color-stop(50%,#d8ffe5), color-stop(100%,#c6ffd4)); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#effcf3', endColorstr='#c6ffd4',GradientType=1 );
}
.gradiente.active{
	background: #fdfff4; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #fdfff4 0%, #faffd8 50%, #f8ffc4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fdfff4), color-stop(50%,#faffd8), color-stop(100%,#f8ffc4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #fdfff4 0%,#faffd8 50%,#f8ffc4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #fdfff4 0%,#faffd8 50%,#f8ffc4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #fdfff4 0%,#faffd8 50%,#f8ffc4 100%); /* IE10+ */
	background: linear-gradient(135deg, #fdfff4 0%,#faffd8 50%,#f8ffc4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfff4', endColorstr='#f8ffc4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.header{
	background: -moz-linear-gradient(top,  rgba(0,166,80,1) 0%, rgba(184,199,191,1) 19%, rgba(203,203,203,0.98) 21%, rgba(203,203,203,0) 100%); /* FF3.6+ */
	background: -ms-linear-gradient(top,  rgba(0,166,80,1) 0%,rgba(184,199,191,1) 19%,rgba(203,203,203,0.98) 21%,rgba(203,203,203,0) 100%); /* IE10+ */
	background: -o-linear-gradient(top,  rgba(0,166,80,1) 0%,rgba(184,199,191,1) 19%,rgba(203,203,203,0.98) 21%,rgba(203,203,203,0) 100%); /* Opera 11.10+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,166,80,1)), color-stop(19%,rgba(184,199,191,1)), color-stop(21%,rgba(203,203,203,0.98)), color-stop(100%,rgba(203,203,203,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,166,80,1) 0%,rgba(184,199,191,1) 19%,rgba(203,203,203,0.98) 21%,rgba(203,203,203,0) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  rgba(0,166,80,1) 0%,rgba(184,199,191,1) 19%,rgba(203,203,203,0.98) 21%,rgba(203,203,203,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a650', endColorstr='#00cbcbcb',GradientType=0 ); /* IE6-9 */
	min-height: 100px;
}
.footer {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 0%, rgba(224,224,224,1) 44%, rgba(203,203,203,1) 73%, rgba(203,203,203,1) 100%); /* FF3.6+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(224,224,224,1) 44%,rgba(203,203,203,1) 73%,rgba(203,203,203,1) 100%); /* IE10+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(224,224,224,1) 44%,rgba(203,203,203,1) 73%,rgba(203,203,203,1) 100%); /* Opera 11.10+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(44%,rgba(224,224,224,1)), color-stop(73%,rgba(203,203,203,1)), color-stop(100%,rgba(203,203,203,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(224,224,224,1) 44%,rgba(203,203,203,1) 73%,rgba(203,203,203,1) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.2) 0%,rgba(224,224,224,1) 44%,rgba(203,203,203,1) 73%,rgba(203,203,203,1) 100%); /* W3C */
	clear: both;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-9 */
	min-height: 100px;
}
.socialmedia.post{
	float: right;
	width: 20%;
	margin: 30px 0 0 0;
}
.socialmedia.post a{
	color: #fff;
	display: block;
	float: left;
	font-weight: bold;
	height: 32px;
	margin: 32px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	width: 32px;
}
.f{
	background: url('/ecos/img/facebook.png');
}
.t{
	background: url('/ecos/img/twitter.png');
}

