body{
	color: #2E2E2E;
	font-family: sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.wrapper.main{
	width: 1000px;
	margin: 0 auto;
}
header.main{
	background:url('/ecos/img/ban.jpg');
	height: 118px;
	padding: 1px;
	width: 100%;
}
header.main h1{
	display: none;
}
section.main{
	width: 100%;
}
footer.main{
	width: 100%;
}
#matriz{
	height: 400px;
	width: 400px;
	border: solid 3px rgba(0, 169, 85, 0.9);
} 
#matriz td{
	height: 66px;
	width: 66px;
	border: solid 2px  rgba(0, 169, 85, 0.9);
	color: #088A29;	
	padding: 5px;
	font-size: .8em;
}
#matriz a{
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	color: #088A29;
}
.listacategorias{
	width: 336px;
	margin: 0;
	padding: 0;
	border:  solid 3px  rgba(0, 169, 85, 0.9);
	height: 400px;
	background: rgba(0, 169, 85, 0.9);
	font-size: .85em;
}
.listacategorias li{
	float: left;
	display: block;
	width: 148px;
	margin: 2px;
	padding: 1px .5em 0 .5em;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
	border-radius:3px;
	color: #088A29;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.listatags {
	width: 258px;
	height:405px;
	padding: 1px 0 0 0;
	margin: 0;
	background: rgba(0, 169, 85, 0.9);
}
.listatags li {
	display: block;
	margin: 8px;
	padding: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
	border-radius:3px;
	color: #088A29;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	font-size: .95em;
}

/*Arreglos Posts*/
header.post h2{
	margin: 20px 60px;
}
header.post p{
	display: block;	
	float: right;
	margin: 25px 60px;
}
header.post a{
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	color: #fff;
	font-weight: bold;
}
section.post{
	margin: 0;
	padding: 0 0 10px 10px;
	width: 80%;
	clear: both;
}
ul.post{
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 19%;
	background: #fff;
}
ul.post li{
	display: inline-block;
	margin: 10px;
	background: #31B404;
	border-radius: .5em;
	font-weight: bold;
	font-size: .8em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
ul.post a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 4px 10px;
}

footer.post{
	height: 100px;
	margin: 0;
	padding: 0;
}
footer.post dl{
	width: 80%;
}
footer.post dt{
	color: #fff;
	display: block;
	font-weight: bold;
	margin: 20px 20px;
	padding: 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	width: 20%;
}
.socialmedia.post{
	float: right;
	width: 20%;
}
.socialmedia.post a{
	color: #fff;
	display: block;
	float: left;
	font-weight: bold;
	height: 32px;
	margin: 32px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	width: 32px;

}
.f{
	background: url('/ecos/img/facebook.png');
}
.t{
	background: url('/ecos/img/twitter.png');
}
/* Arreglos Varios */

.float-left{
	float: left;
}
h1, h2, h3, h4{
	color: #088A29;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.clear:after {
	content: ".";
	visibility: none;
	display: block;
	height: 0;
	clear: both; 
}
.busqueda .input.text {
	float: left;
	width: 500px;
}
.busqueda .input.text label{
	width: 130px;
	display: block;
	float: left;
}
.busqueda .input.text input{
	width: 350px;
}
.busqueda .submit input{
	border: 0;
	color: #088A29;
	box-shadow: 1px 1px 0 rgba(0,0,0,.25);
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.busqueda .input.text label {
	color:  #088A29;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.gradiente{
	background: #effcf3; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #effcf3 0%, #e8fff0 50%, #d8ffe2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#effcf3), color-stop(50%,#e8fff0), color-stop(100%,#d8ffe2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #effcf3 0%,#e8fff0 50%,#d8ffe2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #effcf3 0%,#e8fff0 50%,#d8ffe2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #effcf3 0%,#e8fff0 50%,#d8ffe2 100%); /* IE10+ */
	background: linear-gradient(135deg, #effcf3 0%,#e8fff0 50%,#d8ffe2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#effcf3', endColorstr='#d8ffe2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.gradiente:hover{
	background: #effcf3; 
	background: -moz-linear-gradient(-45deg, #effcf3 0%, #d8ffe5 50%, #c6ffd4 100%); 
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#effcf3), color-stop(50%,#d8ffe5), color-stop(100%,#c6ffd4)); 
	background: -o-linear-gradient(-45deg, #effcf3 0%,#d8ffe5 50%,#c6ffd4 100%);
	background: -ms-linear-gradient(-45deg, #effcf3 0%,#d8ffe5 50%,#c6ffd4 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#effcf3', endColorstr='#c6ffd4',GradientType=1 );
}
.gradiente.active{
	background: #fdfff4; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #fdfff4 0%, #faffd8 50%, #f8ffc4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fdfff4), color-stop(50%,#faffd8), color-stop(100%,#f8ffc4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #fdfff4 0%,#faffd8 50%,#f8ffc4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #fdfff4 0%,#faffd8 50%,#f8ffc4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #fdfff4 0%,#faffd8 50%,#f8ffc4 100%); /* IE10+ */
	background: linear-gradient(135deg, #fdfff4 0%,#faffd8 50%,#f8ffc4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfff4', endColorstr='#f8ffc4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.header{
	background: -moz-linear-gradient(top,  rgba(0,166,80,1) 0%, rgba(184,199,191,1) 19%, rgba(203,203,203,0.98) 21%, rgba(203,203,203,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,166,80,1)), color-stop(19%,rgba(184,199,191,1)), color-stop(21%,rgba(203,203,203,0.98)), color-stop(100%,rgba(203,203,203,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,166,80,1) 0%,rgba(184,199,191,1) 19%,rgba(203,203,203,0.98) 21%,rgba(203,203,203,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,166,80,1) 0%,rgba(184,199,191,1) 19%,rgba(203,203,203,0.98) 21%,rgba(203,203,203,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,166,80,1) 0%,rgba(184,199,191,1) 19%,rgba(203,203,203,0.98) 21%,rgba(203,203,203,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,166,80,1) 0%,rgba(184,199,191,1) 19%,rgba(203,203,203,0.98) 21%,rgba(203,203,203,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a650', endColorstr='#00cbcbcb',GradientType=0 ); /* IE6-9 */
}
.footer {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 0%, rgba(224,224,224,1) 44%, rgba(203,203,203,1) 73%, rgba(203,203,203,1) 100%); /* FF3.6+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(224,224,224,1) 44%,rgba(203,203,203,1) 73%,rgba(203,203,203,1) 100%); /* IE10+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(224,224,224,1) 44%,rgba(203,203,203,1) 73%,rgba(203,203,203,1) 100%); /* Opera 11.10+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(44%,rgba(224,224,224,1)), color-stop(73%,rgba(203,203,203,1)), color-stop(100%,rgba(203,203,203,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(224,224,224,1) 44%,rgba(203,203,203,1) 73%,rgba(203,203,203,1) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.2) 0%,rgba(224,224,224,1) 44%,rgba(203,203,203,1) 73%,rgba(203,203,203,1) 100%); /* W3C */
	clear: both;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-9 */
}

